mixin productCard(img,price,sale)
  .col-lg-3.col-md-4.col-sm-6.col-xs-12
    .product-card
      if(sale)
        span.product-card__sale Sale
      img.product-card__photo(src=img)
      a.product-card__link(href="#" class=sale? null : "product-card__link_sale")= price
